## Import of libraries and database

Dataset: https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset 

Stock: https://www.moneyunder30.com/employee-stock-options#:~:text=Typically%20they%20are%20granted%20to,a%20specific%20period%20of%20time.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
employee_df = pd.read_csv('./Bases de dados/Human_Resources.csv')

In [3]:
employee_df.shape

(1470, 35)

In [4]:
employee_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
employee_df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

## Data visualization

In [6]:
employee_df['Attrition'] = employe_df['Attrition'].apply(lambda x: 1 if x == 'Yes' else 0)

NameError: name 'employe_df' is not defined

In [ ]:
employee_df['OverTime'] = employe_df['OverTime'].apply(lambda x: 1 if x == 'Yes' else 0)

In [ ]:
employee_df['Over18'] = employe_df['Over18'].apply(lambda x: 1 if x == 'Y' else 0)

In [ ]:
employee_df.head()

In [ ]:
sns.heatmap(employee_df.isnull(), cbar = False);

In [ ]:
employee_df.hist(bins = 30, figsize=(20,20), color = 'r');

In [ ]:
employee_df.drop(['EmployeeCount', 'StandardHours', 'Over18', 'EmployeeNumber'], axis = 1, inplace = True )

In [ ]:
employee_df.head()

In [ ]:
left_df = employee_df[employee_df['Attrition']==1]
stayed_df = employee_df[employee_df['Attrition']==0]

In [ ]:
left_df.describe()

In [ ]:
stayed_df.describe()

In [ ]:
correlations = employee_df.corr()
f, ax = plt.subplots(figsize = (20, 20))
sns.heatmap(correlations, annot=True);

In [ ]:
plt.figure(figsize=[25,12])
sns.countplot(x = 'Age',hue = 'Attrition', data = employee_df);

In [ ]:
plt.figure(figsize=[20,20])
plt.subplot(411)
sns.countplot(x= 'JobRole', hue = 'Attrition', data = employe_df)
plt.subplot(412)
sns.countplot(x= 'MaritalStatus', hue = 'Attrition', data = employe_df)
plt.subplot(413)
sns.countplot(x= 'JobInvolvement', hue = 'Attrition', data = employe_df)
plt.subplot(414)
sns.countplot(x= 'JobLevel', hue = 'Attrition', data = employe_df)

In [ ]:
# KDE (Kernel Density Estimate)
plt.figure(figsize=(12,7))
sns.kdeplot(left_df['DistanceFromHome'], label = 'Funcionarios que sairam', shade = True, color = 'r')
sns.kdeplot(stayed_df['DistanceFromHome'], label = 'Funcionarios que ficaram', shade = True, color = 'b')

In [ ]:
plt.figure(figsize=(12,7))
sns.kdeplot(left_df['TotalWorkingYears'], label = 'Funcionarios que sairam', shade = True, color = 'r')
sns.kdeplot(stayed_df['TotalWorkingYears'], label = 'Funcionarios que ficaram', shade = True, color = 'b')

In [ ]:
plt.figure(figsize=(15,10))
sns.boxplot(x = 'MonthlyIncome', y = 'Gender', data = employe_df)

In [ ]:
plt.figure(figsize=(15,10))
sns.boxplot(x = 'MonthlyIncome', y = 'JobRole', data=employe_df)

In [ ]:
employee_df.head()

In [ ]:
X_cat = employee_df [['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus']]
X_cat

In [ ]:
# Male Female
# 1    0
# 0    1

# Single Married Divorced
# 1      0       0
# 0      1       0

from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
X_cat = onehotencoder.fit_transform(X_cat).toarray()

In [ ]:
X_cat.shape

In [ ]:
type(X_cat)

In [ ]:
X_cat = pd.DataFrame(X_cat)
type(X_cat)

In [ ]:
employee_df['BusinessTravel'].unique()

In [ ]:
X_cat

In [ ]:
X_cat.shape

In [ ]:
# settings to display all columns
pd.set_option("display.max_columns", None)
# display the dataframe head
employee_df.head()

In [ ]:
X_numerical = employee_df[['Age','DailyRate','DistanceFromHome','Education','EnvironmentSatisfaction','HourlyRate','JobInvolvement','JobLevel','JobSatisfaction','MonthlyIncome','MonthlyRate','NumCompaniesWorked','OverTime','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']]

In [ ]:
X_all = pd.concat([X_cat, X_numerical], axis = 1)
X_all

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X_all)

In [ ]:
y = employe_df['Attrition']
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [ ]:
X_test.shape, y_test

## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logistic = LogisticRegression()
logistic.fit(X_train, y_train)

In [ ]:
y_pred = logistic.predict(X_test)
y_pred

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

In [ ]:
sns.heatmap(cm, annot = True);

In [ ]:
# Precision
23 / (23 + 3)

In [ ]:
# Recall
23 / (23 + 43)

In [ ]:
from sklearn.metrics import precision_score, recall_score, f1_score, classification_report

In [ ]:
precision_score(y_test, y_pred)

In [ ]:
recall_score(y_test, y_pred)

In [ ]:
f1_score(y_test, y_pred, average='macro')

In [ ]:
print(classification_report(y_test, y_pred))

## Random forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
forest = RandomForestClassifier()
forest.fit(X_train, y_train)

In [ ]:
y_pred = forest.predict(X_test)

In [ ]:
y_pred

In [ ]:
accuracy_score(y_test, y_pred)

In [ ]:
cm = confusion_matrix(y_pred, y_test)
cm

In [ ]:
sns.heatmap(cm, annot= True);

In [ ]:
print(classification_report(y_test, y_pred))

## Artificial neural networks

In [ ]:
import tensorflow as tf

In [ ]:
X_train.shape

In [ ]:
#Units
(50 + 1)/ 2

In [ ]:
neural_network = tf.keras.models.Sequential()
neural_network.add(tf.keras.layers.Dense(units = 25, activation='relu', input_shape=(50,)))
neural_network.add(tf.keras.layers.Dense(units = 25, activation='relu'))
neural_network.add(tf.keras.layers.Dense(units = 25, activation='relu'))
neural_network.add(tf.keras.layers.Dense(units = 1, activation='sigmoid'))

In [ ]:
neural_network.summary()

In [ ]:
neural_network.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
neural_network.fit(X_train, y_train, epochs=200)

In [ ]:
y_pred = neural_network.predict(X_test)

In [ ]:
y_pred

In [ ]:
y_pred = (y_pred >= 0.5)
y_pred

In [ ]:
cm = confusion_matrix(y_test, y_pred)
cm

In [ ]:
sns.heatmap(cm, annot=True)

In [ ]:
print(classification_report(y_test, y_pred))

## Classifier

In [ ]:
import pickle

In [ ]:
with open('model_variables.pkl', 'wb') as f:
    pickle.dump([scaler, onehotencoder, logistic], f)